@font-face {
    font-family: Inter-Extrabold;
    src: url(../Inter/static/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: Inter-Bold;
    src: url(../Inter/static/Inter-Bold.ttf);
}
@font-face {
    font-family: Inter-Medium;
    src: url(Inter/Inter-Medium.ttf);
}
body{
    background-color: rgb(11, 10, 10);
    color: white;
    overflow-x: hidden;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
.row1{
    display: flex;
    height: 100px;
    align-items: center;
    font-family: Inter-ExtraBold;
    padding: 34px;
    font-size: 17px;
}
.logo{
    width: 40%;
}
.menu{
    width: 20%;
}
.menu a,.logo a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.menu a::after{
    content: '';
    display: flex;
    width: 0;
    height: 3px;
    background: #fe3756;
    transition: width .3s;
}
.menu a:hover::after{
    width: 25%;
}
.menu a:hover,.logo a:hover{
    color: #fe3756;
}
.main_headline{
    position: absolute;
    margin-top: 14%;
    width: 102%;
}
.main_headline p{
    text-align: center;
    font-size: 18px;
    color: white;
    font-family: Inter-Bold;
    margin-bottom: -13px;
}
.main_headline button{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 9px;
    font-family: Inter-bold;
    transition: .5s;
}
.main_headline button i{
    color: #0292D8;
}
.main_headline button:hover{
    background-color: #fff;
    color: black;
    transition: .7s;
}
.row2{
    height: 700px;
    padding: 28px;
}
.headlines{
    margin-top: 39px;
}
.headlines p{
    color: #fff;
    text-align: center;
    font-size: 112%;
    font-family: Inter-Bold;
}
.background img{
    width: 100%;
    height: auto;
}
.background_image_gradient{
    width: 100%;
    height: 100%;
    opacity: 0.45;
    background-image: linear-gradient(90deg, #000000 -6%, #3b3b3b 30%, #000000 85%, #000000 120%);
    z-index: 1;
}

.footer{
    height: 100px;
    margin-top: 30px;
}
.footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 36px;
    margin-right: -40px;
    margin-left: -40px;
    background-color: #181919;
}
.footer ul li a,.content div a,.yt{
    margin: 13px;
    color: white;
    transition: .3s;
}
.footer ul li a:hover,.content div a:hover,.row3 div a:hover{
    color: #0292D8;
}
.content{
    display: contents;
    background-color: #181919;
    color: #fff;
}
.profile-pic{
    text-align: center;
}
.profile-pic img{
    width: 173px;
    border-radius: 88px;
    margin-top: 70px;
}
.name{
    text-align: center;
    font-size: 31px;
    margin-top: 28px;
    font-family: Inter-ExtraBold;
}
.description{
    text-align: center;
    width: 551px;
    margin: auto;
    font-size: 20px;
    font-family: Inter-Medium;
}
.row3 div img{
    width: 87%;
    border-radius: 23px;
    margin-left: 10%;
}
.contacts{
    color: #fff;
    padding: 53px;
    padding-top: 0px;
}
.contact-img{
    margin-bottom: 40px;
}
.row3 div h5{
    margin-top: 24px;
}
.row3 div i{
    margin-top: 12px;
}
.row3{margin-top: 26px;}
.row3 div p{
    display: contents;
    margin-top: 10px;
}
.row3 div a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

/* this is not permanent */

.card-title1{
    color: #ffeca7;
    font-family: Inter-Bold;
}
.card-text1{
    color: #fff;
    font-family: Inter-Medium;
}
.row-temporary{
    display: flex;
    justify-content: space-around;

}
.card1{
    background-color: #181919;
    display: inline-flex;
    margin-bottom: 6vw;
}
.columns{
    text-align: center;
}
.card-img{
    height: 178px;
}